
  /* @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Montserrat&display=swap'); */



  
  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Montserrat:wght@400;700&display=swap');
body {
  margin: 0;



font-family: 'Edu SA Beginner', cursive;
font-family: 'Montserrat', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
